<!--- Header and nav template site-wide -->
<header>
    <nav class="group">
	<a href="{{site.baseurl}}/"><img class="badge" src="{{site.baseurl}}/assets/img/badge.png" height="85" width="85" alt=""></a>
	{% if page.is_root_page %}
		      <a class="active" href="{{site.baseurl}}/" class="active">Blog</a>
	{% else %}
		      <a href="{{site.baseurl}}/">Blog</a>
	{% endif %}
	{% for node in site.pages %}
		{% if node.nav_include %}
		    {% if page.url == node.url %}
		      <a class="active" href="{{node.url | prepend: site.baseurl}}" class="active">{{node.title}}</a>
		    {% else %}
		      <a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
		    {% endif %}
	    {% endif %}
  	{% endfor %}
	{% if page.title == "tags" %}
		      <a class="active" href="{{ "/tags/" | prepend: site.baseurl}}" class="active">Tags</a>
	{% else %}
		      <a href="{{ "/tags/" | prepend: site.baseurl}}">Tags</a>
	{% endif %}
	</nav>
</header>