{% assign cat = site.categories[include.cat] %}
{% if cat != nil %}
    <h1 class="content-listing-header sans">{{include.title}}</h1>
    <ul class="content-listing ">
        {% for post in cat %}
            <li class="listing">
                <hr class="slender">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h3 class="contrast">{{ post.title }}</h3>
                </a>
                <br><span class="smaller">{{ post.date | date: "%B %-d, %Y" }}
                    {%- if post.updated -%}
                        ,<span class="last_updated">updated {{ post.updated | date: "%B %-d, %Y" }}
                        </span>
                    {%- endif -%}
                </span>
                {%- if post.tags.length != 0 -%}
                    {%- assign tag0 = post.tags[0] | strip -%}
                    {%- unless tag0 == "" -%}
                        <span class="smaller listing-tags">
                            <a href="{% link tags/index.html %}#tag-{{post.tags[0] | slugify}}">{{post.tags[0]}}</a>
                            {%- assign tags = post.tags | shift %}
                            {%- for tag in tags -%},
                                <a href="{% link tags/index.html %}#tag-{{tag | slugify}}">{{tag}}</a>
                            {% endfor %}
                        </span>
                    {%- endunless -%}
                {% endif %}
                <br/>
                <div>{{ post.excerpt }}</div>
            </li>
        {% endfor %}
    </ul>
{% endif %}